# ignore the build directory
build/*
!build/ddssweeper/
build/ddssweeper/*
!build/ddssweeper/dds-sweeper.uf2

.vscode/

# board gerber files
dds-sweeper-board/*
!dds-sweeper-board/gerbers/*

# ignore jupyter nb files
testing/.ipynb_checkpoints/*

# ignore the printed files
printed/*