# ignore the build directory
build/*
!build/ddssweeper/
build/ddssweeper/*
!build/ddssweeper/dds-sweeper.uf2

.vscode/
.venv

# kicad extras
fp-info-cache
dds-sweeper-board/*-backups/*
*.lck

# ignore jupyter nb files
testing/.ipynb_checkpoints/*

# ignore the printed files
printed/*