# ignore the build directory
build*/*
pico_sdk_import.cmake

.vscode/
.venv

# kicad extras
fp-info-cache
dds-sweeper-board/*-backups/*
*.lck

# ignore jupyter nb files
testing/.ipynb_checkpoints/*

# ignore the printed files
printed/*